body {
	margin: 50px 50px auto;
	text-align:center;
	font-family: Monospace, Sans-serif;
}

#header {
	text-align:left;
	margin-bottom:25px;
}

#ckan_core {

	
}



.ckan_box {
	text-align:left;
	padding:10px;
	border: 1px dashed grey;
}

.ckan_box .box_title {
    position:relative;
	top:-18px;
    left:10px;
    padding: 0px 10px;
    background: white;
    color:grey;
}
}

.ckan_box p {
	margin:10px;
}



.response_wrapper {
	overflow:hidden;
}

.response_wrapper .box_title {
	position:relative;
	top:-17px;
	left:10px;
	background: white;
    padding: 0px 10px;

}


.error_out {
	min-height: 100px;
	border: 1px solid red;
	margin:10px;
	padding:10px;
	font-size: 75%;
	display:inline;
	float:left;
	color:red;
	width:40%;
}
.data_out {
	min-height: 100px;
	border: 1px solid green;
	margin:10px;
	padding:10px;
	font-size: 75%;
	display:inline;
	float:right;
	width:50%;
	color:green;
}

.error_out p {
    margin: 0px 0px 5px 0px;
}

.data_out p{
    margin: 0px 0px 5px 0px;
}

input {
	padding:2px;
	margin:10px;
}