body {
	margin: 0px auto;
	text-align:center;
	font-family: Monospace, Sans-serif;
    height:100%;
}

#header {
	text-align:left;
	margin-bottom:25px;
}

#ckan_core {

	
}



.ckan_box {
	text-align:left;
	padding:10px;
	border: 1px dashed grey;
    margin: 50px;
}

.ckan_box .box_title {
    position:relative;
	top:-18px;
    left:10px;
    padding: 0px 10px;
    background: white;
    color:grey;
}
}

.ckan_box p {
	margin:10px;
}



.response_wrapper {
	overflow:hidden;
}

.response_wrapper .box_title {
	position:relative;
	top:-17px;
	left:10px;
	background: white;
    padding: 0px 10px;

}


.error_out p {
    margin: 0px 0px 5px 0px;
}

.data_out p{
    margin: 0px 0px 5px 0px;
}

input {
	padding:2px;
	margin:10px;
}

#floating_footer{
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0px auto;
    position:fixed;
    bottom:0px;
    z-index:3;
    height: 180px;
    width:100%;
    overflow:hidden;
    background-color: rgba(0,0,0,0.7);
    color: yellow;

}

.console_button {
    border: 1px solid yellow;
    padding: 2px;
    display:inline;
    float: right;
    margin-right: 25px;
}

.console_button:hover {
    cursor:pointer;
}

#output{
    overflow-y:auto;
    overflow-x:hidden;
    padding:5px;
    text-align:left;
    margin: 0px 20px auto;
    width:100%;
    height: 160px;
    color: yellow;
    font-size: 80%;
}